.thumb1 {
    width: 100%;
    
}
.title{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;

}

.pre {

}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel {

}
.info {
 
}
.profile-picture {
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.thumbnail-row:hover{
    background-color: rgb(245, 26, 26);
    opacity: 0.8;
}
.auther ,
.status{
    font-size: 14px;
    color: #606060;
}
.auther{
    margin-bottom: 4px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (min-width: 1000px){
     .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.search:hover{

}

.video-time{
    font-family: roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}